<div class="content">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Activity
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="divide-y-4">
              <div>
                <div class="row">
                  <div class="col-auto">
                    <span class="avatar">JL</span>
                  </div>
                  <div class="col">
                    <div class="text-truncate">
                      <strong>Jeffie Lewzey</strong> commented on your <strong>"I'm not a witch."</strong> post.
                    </div>
                    <div class="text-muted">yesterday</div>
                  </div>
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-auto">
                    <span class="avatar" style="background-image: url(./static/avatars/002m.jpg)"></span>
                  </div>
                  <div class="col">
                    <div class="text-truncate">
                      It's <strong>Mallory Hulme</strong>'s birthday. Wish him well!
                    </div>
                    <div class="text-muted">2 days ago</div>
                  </div>
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-auto">
                    <span class="avatar" style="background-image: url(./static/avatars/003m.jpg)"></span>
                  </div>
                  <div class="col">
                    <div class="text-truncate">
                      <strong>Dunn Slane</strong> posted <strong>"Well, what do you want?"</strong>.
                    </div>
                    <div class="text-muted">today</div>
                  </div>
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
