<header class="header-section">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="logo">
        <a routerLink="/"><img src="../../assets/images/logo.png" alt="" width="170" height="58"></a>
      </div>
      <div class="header-right">
        <img src="../../assets/images/search.png" alt="" class="search-trigger">
        <img src="img/icons/man.png" alt="">
        <a href="#">
          <img src="../../assets/images/bag.png" alt="">
          <span>2</span>
        </a>
      </div>
      <div class="user-access">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> &nbsp;Register /
        </a>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> &nbsp;Login</a>
      </div>
      <nav class="main-menu mobile-menu">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a href="./categories.html">Shop</a>
            <ul class="sub-menu">
              <li><a href="product-page.html">Product Page</a></li>
              <li><a href="shopping-cart.html">Shopping Card</a></li>
              <li><a href="check-out.html">Check out</a></li>
            </ul>
          </li>
          <li><a href="./product-page.html">About</a></li>
          <li><a href="./check-out.html">Blog</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Features Section Begin -->
<!-- <section class="features-section spad">
  <div class="features-ads">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-features-ads first">
            <img src="../../assets/images/f-delivery.png" alt="">
            <h4>Free shipping</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-features-ads second">
            <img src="../../assets/images/coin.png" alt="">
            <h4>100% Money back </h4>
            <p>It is a long established fact that a reader will be distracted by the readable content </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-features-ads">
            <img src="../../assets/images/chat.png" alt="">
            <h4>Online support 24/7</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->
