<div class="flex-fill d-flex align-items-center justify-content-center">
  <div class="container-tight py-6">
    <div class="empty">
      <div class="empty-header">500</div>
      <p class="empty-title">Oops… You just found an error page</p>
      <p class="empty-subtitle text-muted">
        We are sorry but our server encountered an internal error
      </p>
      <div class="empty-action">
        <a (click)="goToHome();" class="btn btn-primary">
          <i class="fa fa-angle-left"></i>&nbsp; Take me home
        </a>
      </div>
    </div>
  </div>
</div>
