<div class="container" style="padding: 50px 0;">

  <div class="space-mb-mobile-only--50 col-lg-6">
    <div class="lezada-form login-form">
      <form [formGroup]="loginForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title--login text-center space-mb--50">
              <h2 class="space-mb--20">Login</h2>
              <p>Great to have you back!</p>
            </div>
          </div>
          <div class="space-mb--30 col-lg-12">
            <input type="text" placeholder="Email Id *" formControlName="email" />
            <div class="error-danger"
              *ngIf="loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)&& loginForm.controls['email'].errors.required">
              Email Id is required.
            </div>
            <div class="error-danger"
              *ngIf="loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)&& loginForm.controls['email'].errors.email">
              Enter a Valid Email Id
            </div>
          </div>
          <div class="space-mb--30 col-lg-12">
            <input type="password" placeholder="Password *" formControlName="password" />
            <div class="error-danger"
              *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)&& loginForm.controls['password'].errors.required">
              Password is required.
            </div>
            <div class="error-danger"
              *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)&& loginForm.controls['password'].errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>

          <div class="space-mb--30 col-lg-12">
            <button class="lezada-button lezada-button--medium" (click)="onSubmitLogin()">
              login
            </button>&nbsp;
            <button class="lezada-button lezada-button--medium" type="reset" (click)="onResetLogin()">Reset</button>

          </div>
          <div class="col">
            <input type="checkbox" />
            <span class="remember-text"> Remember me</span><a href="#" class="reset-pass-link">Lost your
              password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="lezada-form login-form--register">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title--login text-center space-mb--50">
              <h2 class="space-mb--20">Register</h2>
              <p>If you don’t have an account, Register now!</p>
            </div>
          </div>
          <div class="space-mb--30 col-lg-12">
            <input type="text" id="regUsername" formControlName="username" placeholder="Username *" />
            <div class="error-danger"
              *ngIf="registerForm.controls['username'].errors && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)&& registerForm.controls['username'].errors.required">
              Username is required.
            </div>
          </div>

          <div class="space-mb--30 col-lg-12">
            <input type="text" id="regEmail" formControlName="email" placeholder="Email Id *" />
            <div class="error-danger"
              *ngIf="registerForm.controls['email'].errors && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)&& registerForm.controls['email'].errors.required">
              Email Id is required.
            </div>
            <div class="error-danger"
              *ngIf="registerForm.controls['email'].errors && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)&& registerForm.controls['email'].errors.email">
              Enter a Valid Email Id
            </div>
          </div>

          <div class="space-mb--50 col-lg-12">
            <input type="password" id="regPassword" formControlName="password" placeholder="Password *" />
            <div class="error-danger"
              *ngIf="registerForm.controls['password'].errors && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)&& registerForm.controls['password'].errors.required">
              Password is required.
            </div>
            <div class="error-danger"
              *ngIf="registerForm.controls['password'].errors && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)&& registerForm.controls['password'].errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>

          <div class="text-center col-lg-12">
            <button class="lezada-button lezada-button--medium" (click)="onSubmitRegister()">
              register
            </button>&nbsp;
            <button class="lezada-button lezada-button--medium" type="reset" (click)="onResetRegister()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
