<h3>Create Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.fullName"
        name="firstName" />
    </div>
    <div class="form-group">
      <label for="name">emailId</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.email" name="emailId" />
    </div>
    <div class="form-group">
      <label for="name">Mobile</label>
      <input type="text" class="form-control" id="mobile" [(ngModel)]="employee.mobile" name="mobile" />
    </div>
    <div class="form-group">
      <label for="name">city Name</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="employee.city" name="city" />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
