<div class="page">
  <header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="#">
          <img src="./../../assets/static/logo.svg" width="110" height="32" alt="Equally" class="navbar-brand-image">
        </a>
      </h1>
      <div class="navbar-nav flex-row order-md-last">
        <div class="nav-item dropdown d-none d-md-flex me-3">
          <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
              <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
            </svg>
            <span class="badge bg-red"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur exercitationem
                fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet debitis et magni maxime
                necessitatibus ullam.
              </div>
            </div>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm"
              style="background-image: url(./../../assets//static/avatars/000m.jpg)"></span>
            <div class="d-none d-xl-block ps-2">
              <div>Dibya ranjan Sahu</div>
              <div class="mt-1 small text-muted">Developer</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a routerLink="/activity" class="dropdown-item">Activity</a>
            <a routerLink="/profile" class="dropdown-item">Profile & account</a>
            <a href="#" class="dropdown-item">Feedback</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Settings</a>
            <a href="#" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
      <div class="navbar navbar-light">
        <div class="container-xl">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="./index.html">
                <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                  </svg>
                </span>
                <span class="nav-link-title">
                  Home
                </span>
              </a>
            </li>
          </ul>
          <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
            <form action="." method="get">
              <div class="input-icon">
                <span class="input-icon-addon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="10" cy="10" r="7"></circle>
                    <line x1="21" y1="21" x2="15" y2="15"></line>
                  </svg>
                </span>
                <input type="text" class="form-control" placeholder="Search…" aria-label="Search in website">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>



<!-- <header class="header-section">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="logo">
        <a routerLink="/"><img src="../../assets/images/logo.png" alt="" width="170" height="58"></a>
      </div>
      <div class="header-right">
        <img src="../../assets/images/search.png" alt="" class="search-trigger">
        <img src="img/icons/man.png" alt="">
        <a href="#">
          <img src="../../assets/images/bag.png" alt="">
          <span>2</span>
        </a>
      </div>
      <div class="user-access" *ngIf="!isLoggedIn;else logOut">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> &nbsp;Register /
        </a>
        <a data-toggle="modal" data-target="#registerModalForm">Register / </a>
        <a data-toggle="modal" data-target="#loginModalForm">&nbsp;Login</a>
      </div>
      <ng-template #logOut>
        <div class="user-access">
          <a (click)="signOut()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> &nbsp;Logout
          </a>
        </div>
      </ng-template>
      <nav class="main-menu mobile-menu">
        <ul>
          <li><a routerLink="/dashboard">Home</a></li>
          <li><a href="./categories.html">Shop</a>
            <ul class="sub-menu">
              <li><a href="/product">Product Page</a>
              </li>
              <li><a href="shopping-cart.html">Shopping Card</a></li>
              <li><a href="check-out.html">Check out</a></li>
            </ul>
          </li>
          <li><a href="./product-page.html">About</a></li>
          <li><a href="./check-out.html">Blog</a></li>
          <li><a routerLink="/profile">Profile</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header> -->
